<!DOCTYPE html>
<html lang="ja">
  <head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <link type="text/css" rel="stylesheet" href="/public/css/style.css" />
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <h1>{{ title }}</h1>
      <p>簡易版の回答例です。</p>

      <div id="search">
        検索タグ <input id="tag" type="text" value="{{ tag }}" />
        検索数 <select id="lines">
          % for num in [10, 20, 30, 40, 50]:
            % if lines == num:
            <option value="{{ num }}" selected>{{ num }}</option>
            % else:
            <option value="{{ num }}">{{ num }}</option>
            % end
          % end
        </select>
        <button id="submit">検索</button>
      </div>
    </div>

    <div id="content">
      % for tg in data:
        <p>{{ tg }}</p>
      % end
    </div>
  </div>

  <script type="text/javascript" src="/public/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript">
  $(function(){
      $('#submit').on('click tap', function(){
          location.href = '/' + $('#tag').val() + '/' + $('#lines').val() + '/';
      });
  });
  </script>
</body>

