@charset "utf-8";
* { height: auto; }
html, body {
    font-family: Verdana, YuGothic, "游ゴシック", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ ", sans-serif;
    color: #444444;
    background: #eeeeee;
    margin: 0;
    height: 100%;
}
iframe {
    margin: 1em;
}
#wrapper {
    width: 960px;
    margin: 0 auto;
    height: 100%;
}

#header {
    color: #eee;
    background: #333;
    padding: 1em;
}
#header h1, #header p {
    margin: 0;
}
#header h1 { margin-bottom: .3em; }

#content {
    background: #ffffff;
    padding: 1em;
}
#content p { margin: 0 0 0 1em; }
